.upgrade-plan .upgrade-plan-link {
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.136, #666a8e), color-stop(0.6, #583569));
  /* Android 2.3 */
  background: -webkit-linear-gradient(left, #666a8e 13.6%, #583569 60%);
  /* IE10+ */
  background: linear-gradient(to right, #666a8e 13.6%, #583569 60%);
  background: -ms-linear-gradient(left, #666a8e 13.6%, #583569 60%);
  transition: .3s; }

.upgrade-plan .donate {
  background-image: linear-gradient(to right, #35bbe0, #00afe9, #00a0ef, #2c8ff0, #5e7bea);
  /* IE8- CSS hack */ }
  @media \0screen\,screen\9 {
    .upgrade-plan .donate .gradient {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff35bcdf",endColorstr="#ff5d7beb",GradientType=0); } }

html {
  scroll-behavior: smooth; }

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web'; }

body {
  font-family: sans-serif; }

.header-container {
  padding-top: 80px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 800px; }

.select-lang {
  display: flex;
  margin-top: 15px; }
  .select-lang li {
    margin: 0 10px;
    color: #a1a1a1; }
    .select-lang li:nth-child(2n) {
      margin: 0; }
    .select-lang li:first-child {
      margin-left: 0; }
  .select-lang a {
    resize: none;
    color: #a1a1a1;
    transition: .3s;
    outline: none; }
    .select-lang a:active {
      border-bottom: 2px solid #848486;
      color: #848486; }
    .select-lang a:hover, .select-lang a:focus {
      font-weight: 900;
      border-bottom: 2px solid #848486;
      transition: .3s; }

.top-menu {
  display: flex;
  justify-content: space-between; }

.authorisation .login {
  color: #474747;
  font-weight: bold;
  margin-right: 20px;
  outline: none;
  transition: 3s;
  padding-bottom: 3px; }
  .authorisation .login:hover, .authorisation .login:focus {
    transition: .3s;
    border-bottom: 2px solid #5a4e9c; }

.authorisation .sing-up {
  color: #fff;
  background-image: linear-gradient(to right, #582c7e, #5b3d90, #5e4da1, #605db2, #616dc3);
  border-radius: 20px;
  outline: none;
  padding: 10px 20px;
  transition: 1s; }
  .authorisation .sing-up:hover, .authorisation .sing-up:focus {
    -webkit-box-shadow: 0px 7px 20px 0px #6171c7;
    -moz-box-shadow: 0px 7px 20px 0px #6171c7;
    box-shadow: 0px 7px 20px 0px #6171c7;
    transition: .3s; }

.main-nav {
  display: flex; }
  .main-nav li {
    margin: 0 20px; }
    .main-nav li:first-child {
      margin-left: 0; }
    .main-nav li:last-child {
      margin-right: 0; }
  .main-nav a {
    color: #474747;
    transition: .3s;
    outline: none; }
    .main-nav a:hover, .main-nav a:focus {
      border-bottom: 2px solid #5a4e9c;
      transition: .3s; }

.banner {
  padding-top: 160px;
  text-align: center; }
  .banner #download {
    scroll-behavior: smooth; }
  .banner .col {
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner a {
    margin: 0 5px; }
  .banner h1 {
    color: #454545;
    font-size: 60px;
    margin-bottom: 10px; }
  .banner h2 {
    font-size: 36px;
    color: #454545;
    font-weight: 100;
    margin-bottom: 80px; }
    .banner h2 span {
      color: #fc2028; }
  .banner .create-acc {
    border-radius: 25px;
    background-color: #603c73;
    color: #fff;
    font-weight: bold;
    outline: none;
    padding: 15px 65px;
    transition: .4s; }
    .banner .create-acc:hover, .banner .create-acc:focus {
      background-color: #fff;
      color: #5f2f6a;
      transition: .5s;
      -webkit-box-shadow: 0px 0px 30px 16px #5f306b;
      -moz-box-shadow: 0px 0px 30px 16px #5f306b;
      box-shadow: 0px 0px 30px 16px #5f306b; }
  .banner .apple {
    background-color: #7a5082;
    background-image: url(../img/apple.png);
    background-position: center center;
    border-radius: 20px;
    background-repeat: no-repeat;
    height: 45px;
    outline: none;
    transition: .3s;
    width: 45px; }
    .banner .apple:hover, .banner .apple:focus {
      transition: .3s;
      -webkit-box-shadow: 0px 0px 30px 16px #5f306b;
      -moz-box-shadow: 0px 0px 30px 16px #5f306b;
      box-shadow: 0px 0px 30px 16px #5f306b; }
  .banner .play-store {
    background-color: #7a5082;
    background-image: url(../img/play-store.png);
    background-position: center center;
    border-radius: 20px;
    background-repeat: no-repeat;
    height: 45px;
    outline: none;
    transition: .3s;
    width: 45px; }
    .banner .play-store:hover, .banner .play-store:focus {
      transition: .3s;
      -webkit-box-shadow: 0px 0px 30px 16px #5f306b;
      -moz-box-shadow: 0px 0px 30px 16px #5f306b;
      box-shadow: 0px 0px 30px 16px #5f306b; }

.before-line:before {
  background-color: #959393;
  content: '';
  position: absolute;
  bottom: 35%;
  left: -10%;
  width: 1px;
  height: 130%; }

.advantage p {
  color: #959393;
  font-size: 14px;
  line-height: 22px;
  max-width: 370px; }

.advantage-headline {
  align-items: center;
  align-content: center;
  display: flex;
  margin-bottom: 40px; }
  .advantage-headline h3 {
    color: #454545;
    font-size: 30px;
    font-weight: 400; }
  .advantage-headline h4 {
    color: #959393;
    font-size: 18px;
    font-weight: 400; }

.title-phisical-security .learn-more {
  text-align: center;
  margin-top: 40px; }
  .title-phisical-security .learn-more span {
    position: relative; }
  .title-phisical-security .learn-more a {
    display: inline-block;
    transform: translateX(71%);
    left: 55%;
    border: 1px solid #454545;
    border-radius: 35px;
    color: #959393;
    font-size: 16px;
    padding: 25px 30px;
    outline: none;
    transition: .3s;
    -webkit-box-shadow: inset 0px 8px 50px 0px #636990;
    -moz-box-shadow: inset 0px 8px 50px 0px #636990;
    box-shadow: inset 0px 8px 50px 0px #636990; }
    .title-phisical-security .learn-more a .blur {
      transition: .3s; }
    .title-phisical-security .learn-more a:hover, .title-phisical-security .learn-more a:focus {
      box-shadow: none;
      color: #454545; }
      .title-phisical-security .learn-more a:hover .blur, .title-phisical-security .learn-more a:focus .blur {
        transition: .3s;
        filter: blur(0px); }
    .title-phisical-security .learn-more a span {
      transition: .025s;
      filter: blur(3px); }
    .title-phisical-security .learn-more a:before {
      background-color: #959393;
      content: '';
      height: 1px;
      left: -400%;
      position: absolute;
      top: 50%;
      width: 400%;
      overflow: hidden;
      display: inline-block; }
    .title-phisical-security .learn-more a:after {
      content: '';
      position: absolute;
      height: 800%;
      background-color: #959393;
      top: -800%;
      right: 65%;
      width: 1px;
      display: inline-block; }

.title-phisical-security .sponsors {
  margin-top: 70px; }

.headline-phisical-security {
  margin-top: 120px;
  text-align: center;
  transform: translateX(-4%); }
  .headline-phisical-security h2 {
    color: #454545;
    font-size: 60px;
    font-weight: 400; }
  .headline-phisical-security p {
    text-align: right;
    font-size: 24px;
    color: #959393;
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
    transform: translateX(-15%); }
    .headline-phisical-security p span {
      color: #fc2028; }

.citation p {
  max-width: 545px;
  font-size: 24px;
  position: relative;
  font-family: 'Lato';
  font-style: italic; }
  .citation p:before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: -5%;
    right: 10%;
    height: 10px;
    width: 10px;
    background-color: #000; }

.download-app {
  background-repeat: no-repeat;
  background-image: url(../img/laptop.png);
  height: 670px;
  margin: 80px auto 0 100px;
  background-position: 75%;
  position: relative;
  min-width: 100%;
  overflow: hidden; }
  .download-app .download-link {
    text-align: center; }
    .download-app .download-link section {
      transform: translateX(-10%); }
      .download-app .download-link section h3 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 15px; }
      .download-app .download-link section p {
        color: #959393;
        margin: 0 auto;
        text-align: right;
        max-width: 450px;
        margin-bottom: 40px; }
      .download-app .download-link section .link-app-store {
        background-image: url(../img/app-store-link.png);
        background-repeat: no-repeat;
        height: 55px;
        width: 180px;
        display: inline-block; }
    .download-app .download-link .download {
      background-color: #603c73;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      outline: none;
      padding: 15px 50px;
      transition: .3s; }
      .download-app .download-link .download:hover, .download-app .download-link .download:focus {
        background-color: #fff;
        color: #5f2f6a;
        transition: .3s;
        -webkit-box-shadow: 0px 0px 30px 16px #5f306b;
        -moz-box-shadow: 0px 0px 30px 16px #5f306b;
        box-shadow: 0px 0px 30px 16px #5f306b; }
  .download-app:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #959393;
    bottom: 0;
    left: 20%;
    overflow: hidden; }

.upgrade-plan {
  margin-top: 80px;
  text-align: center; }
  .upgrade-plan h3 {
    font-size: 36px;
    color: #454545;
    font-weight: 400; }
  .upgrade-plan h4 {
    color: #959393;
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 40px; }
  .upgrade-plan a {
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    margin: 0 40px;
    outline: none;
    padding: 15px 45px; }
  .upgrade-plan .upgrade-plan-link:hover, .upgrade-plan .upgrade-plan-link:focus {
    -webkit-box-shadow: 0px 8px 16px 0px #5f2f6a;
    -moz-box-shadow: 0px 8px 16px 0px #5f2f6a;
    box-shadow: 0px 8px 16px 0px #5f2f6a; }
  .upgrade-plan .donate {
    transition: .3s; }
    .upgrade-plan .donate:hover, .upgrade-plan .donate:focus {
      transition: .3s;
      -webkit-box-shadow: 0px 8px 16px 0px #35bbe0;
      -moz-box-shadow: 0px 8px 16px 0px #35bbe0;
      box-shadow: 0px 8px 16px 0px #35bbe0; }

footer {
  margin: 80px 0 50px 0;
  position: relative;
  height: 603px;
  overflow-y: hidden; }
  footer a {
    outline: none; }
    footer a:hover, footer a:focus {
      border-bottom: 2px solid #454545;
      transition: .3s; }
  footer:before {
    background-color: #959393;
    content: '';
    left: 0;
    height: 1px;
    position: absolute;
    width: 75%; }
  footer:after {
    background-color: #959393;
    content: '';
    position: absolute;
    right: 25%;
    top: 0;
    height: 70%;
    width: 1px; }

.footer-sponsors {
  margin-left: 50px;
  margin: 0 0 150px 50px;
  text-align: left;
  text-align: center; }
  .footer-sponsors h3 {
    max-width: 250px;
    transform: translateX(55%);
    margin: 10px auto 0px auto;
    color: #959393;
    font-size: 14px;
    font-weight: 400; }
  .footer-sponsors img {
    transform: translateX(-20%);
    width: 100%;
    height: auto;
    max-width: 890px; }

.footer-info-block {
  color: #454545; }
  .footer-info-block h4 {
    margin-bottom: 35px; }
  .footer-info-block ul {
    line-height: 23px; }
  .footer-info-block a {
    color: #454545;
    font-size: 14px; }
  .footer-info-block div {
    text-align: right; }

.our-contact li:nth-child(4) {
  margin-top: 30px; }

.our-contact li:nth-child(5) {
  text-decoration: underline; }

.footer-nav-1 {
  margin-left: 350px;
  position: relative; }
  .footer-nav-1:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1000%;
    top: 0;
    right: -10%;
    background-color: #959393; }

.legal {
  margin-left: 100px; }

.footer-nav-2 {
  margin-left: 100px; }

.our-social {
  margin-top: 100px; }
  .our-social ul {
    color: #959393;
    display: flex; }
    .our-social ul li {
      margin: 0 5px; }
    .our-social ul a {
      color: #959393; }
  .our-social p {
    margin-top: 10px;
    font-size: 13px;
    color: #454545; }
