$accent-color: #454545;

$base-color: #959393;


%gradient {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0.136, rgb(102, 106, 142)),color-stop(0.6, rgb(88, 53, 105)));
	/* Android 2.3 */
	background: -webkit-linear-gradient(left,rgb(102, 106, 142) 13.6%,rgb(88, 53, 105) 60%);
	/* IE10+ */
	background: linear-gradient(to right,rgb(102, 106, 142) 13.6%,rgb(88, 53, 105) 60%);
	background: -ms-linear-gradient(left,rgb(102, 106, 142) 13.6%,rgb(88, 53, 105) 60%);
	transition: .3s;
}

%gradient2 {
background-image: linear-gradient(to right, #35bbe0, #00afe9, #00a0ef, #2c8ff0, #5e7bea);


/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff35bcdf",endColorstr="#ff5d7beb",GradientType=0);
    }
}

}
