// 1920px - 1600px

@media screen and (min-width:1550px) and (max-width: 1700px){
	.container {
		padding-right: 80px;
		padding-left: 80px;
	}

	.footer-nav-1 {
		margin-left: 210px;
	}

}


// 1600px - 1440px

@media screen and (max-width: 1550px) {
	.container {
		padding-right: 60px;
		padding-left: 60px;
	}

	.before-line {
		&:before {
			bottom: 50%;
		}
	}

	.footer-nav-1 {
		margin-left: 120px;
	}

}

@media screen and (max-width: 1440px) {
	.container {
		padding-right: 55px;
		padding-left: 55px;
	}

	footer {
		&:before {
			width: 80%;
		}

		&:after {
			right: 20%;
		}
	}
}

@media screen and (max-width: 1366px) {
	.before-line {
		&:before {
			bottom: 60%;
		}
	}

	.footer-nav-1 {
		margin-left: 110px;
	}

}

@media screen and (max-width: 1282px) {
	.footer-nav-1 {
		margin-left: 100px;
	}
}
